@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";


//   @include outer-container;
//   margin: 0;
//   box-sizing: border-box;
// }
body{
  // $gutter: 0;
}

header{
  @include span-columns(12);
  background: #F0F0F0;
  padding-top: 10px;
  margin-bottom: 20px;
}

.logo-search{
  @include span-columns(5);
  span{
    @include span-columns(1);
    @include shift(1);
    float: left;

  }
  .search{
    @include span-columns(9);
    float: right;
  }
}

.nav-head{
  @include span-columns(6);
  nav{
    @include span-columns(5);
    float: left;
  }
  .profileNav{
    @include span-columns(3);
    float: right
  }
}
main{
  padding-left: 100px;
  padding-right: 100px;
}
.profile{
  @include span-columns(3);
}

.name{
  img{
    height: 230px;
    width: 230px;
  }
}


.repos{
  @include outer-container;
  @include span-columns(9);
}

.tabs{
  @include span-columns(12);
  border-bottom: 2px solid #F0F0F0;
  button{
    padding: 3px;
    text-decoration: none;
  }
  button:active{
    border-top:2px solid #F0F0F0;
    border-right:2px solid #F0F0F0;
    border-left:2px solid #F0F0F0;
    border-bottom: 4px solid white;
  }
  a{
    float: right;
  }
}
.posted-repos{
  h1{
    font-size: 20px;
    background-color: #F5F5F5;
  }
  a{
    // padding: 10px 5px 10px 5px;
    display: block;
    text-decoration: none;
    color:#3D76C2;
    font-size: 20px;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;

  }
  a:hover{
    text-decoration: underline;
  }
}




footer{
  @include span-columns(12);
  text-align: center;
}
