html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.mainHeader {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #F0F0F0;
  padding-top: 10px;
  margin-bottom: 20px;
  height: 50px; }
  .mainHeader:last-child {
    margin-right: 0; }
  .mainHeader a {
    text-decoration: none;
    margin-right: 10px;
    color: #333333;
    font-weight: bold;
    font-size: 12px; }

.logo-search {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .logo-search:last-child {
    margin-right: 0; }
  .logo-search span {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    margin-left: 8.5298%;
    float: left; }
    .logo-search span:last-child {
      margin-right: 0; }
  .logo-search .search {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    float: right; }
    .logo-search .search:last-child {
      margin-right: 0; }

.nav-head {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 5px; }
  .nav-head:last-child {
    margin-right: 0; }
  .nav-head nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    float: left; }
    .nav-head nav:last-child {
      margin-right: 0; }
  .nav-head .profileNav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    float: right; }
    .nav-head .profileNav:last-child {
      margin-right: 0; }

main {
  padding-left: 100px;
  padding-right: 100px; }

.profile {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-right: 1px; }
  .profile:last-child {
    margin-right: 0; }

.location-dateJoined {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  font-size: 14px;
  padding: 30px 0;
  border-top: 2px solid #F0F0F0; }
  .location-dateJoined:last-child {
    margin-right: 0; }
  .location-dateJoined span {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .location-dateJoined span:last-child {
      margin-right: 0; }

.follow {
  font-size: 24px;
  color: #34619B; }
  .follow div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .follow div:last-child {
      margin-right: 0; }

.name img {
  height: 230px;
  width: 230px; }

.name h2 {
  font-weight: lighter; }

.repos {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .repos::after {
    clear: both;
    content: "";
    display: table; }
  .repos:last-child {
    margin-right: 0; }

.tabs {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-bottom: 2px solid #F0F0F0;
  z-index: 1;
  font-size: 14px; }
  .tabs:last-child {
    margin-right: 0; }
  .tabs button {
    border: none;
    padding: 3px;
    text-decoration: none;
    background-color: white; }
    .tabs button:focus {
      outline: none; }
  .tabs a {
    display: block;
    float: right;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    height: 30px;
    width: 115px;
    text-align: center;
    padding-top: 5px;
    background-color: #F8F8F8;
    font-weight: bolder;
    font-size: 14px; }

.all-repo-nav .all-repo-search {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 20px 0; }
  .all-repo-nav .all-repo-search:last-child {
    margin-right: 0; }
  .all-repo-nav .all-repo-search .search {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    display: block;
    height: 35px; }
    .all-repo-nav .all-repo-search .search:last-child {
      margin-right: 0; }
  .all-repo-nav .all-repo-search .searchBtn {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 14px;
    box-shadow: none;
    background-color: #F1F1F1;
    display: block;
    border: none;
    border: 2px solid #F0F0F0;
    height: 35px; }
    .all-repo-nav .all-repo-search .searchBtn:last-child {
      margin-right: 0; }

.all-repo-nav .all-repo-buttons {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 20px 0; }
  .all-repo-nav .all-repo-buttons:last-child {
    margin-right: 0; }
  .all-repo-nav .all-repo-buttons button {
    float: left;
    background: white;
    color: #3D76C2;
    border: none;
    font-size: 14px; }
    .all-repo-nav .all-repo-buttons button:focus {
      outline: none; }

.posted-repos h1 {
  font-size: 20px;
  background-color: #F5F5F5; }

.posted-repos div {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-bottom: 2px solid #F0F0F0;
  padding-bottom: 25px; }
  .posted-repos div:last-child {
    margin-right: 0; }
  .posted-repos div a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%;
    display: block;
    text-decoration: none;
    color: #3D76C2;
    font-size: 20px;
    font-weight: bold;
    margin: 0; }
    .posted-repos div a:last-child {
      margin-right: 0; }
  .posted-repos div a:hover {
    text-decoration: underline; }

.repoLang {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  float: right;
  position: relative;
  bottom: 20px;
  font-size: 12px;
  color: #888888; }
  .repoLang:last-child {
    margin-right: 0; }

.repoTime {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  font-size: 14px;
  color: #888888; }
  .repoTime:last-child {
    margin-right: 0; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-bottom: 25px;
  margin-top: 15px; }
  footer:last-child {
    margin-right: 0; }
  footer a {
    text-decoration: none;
    margin-right: 10px;
    color: #3D76C2; }
  footer:hover {
    text-decoration: underline; }
  footer span {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    footer span:last-child {
      margin-right: 0; }

.tabContainer {
  display: none; }

.contributions {
  display: block; }

.tabBtn.active {
  border-top: 2px solid #F0F0F0;
  border-right: 2px solid #F0F0F0;
  border-left: 2px solid #F0F0F0;
  border-bottom: 4px solid white;
  z-index: 10; }

.gitLegal {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 44.55627%; }
  .gitLegal:last-child {
    margin-right: 0; }

.gitPersonal {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 44.55627%; }
  .gitPersonal:last-child {
    margin-right: 0; }

.proPicNav img {
  width: 18px;
  height: 20px; }

.popular-repos h3 {
  font-size: 14px;
  background-color: #F5F5F5;
  margin-top: 50px;
  height: 40px;
  border: 1px solid #D8D8D8;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 10px;
  margin-bottom: 0px; }

.popular-repos a {
  height: 55px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 18px;
  padding-left: 10px;
  font-size: 14px;
  color: #3D76C2; }

.popular-repos .repoLang {
  display: none; }

.popular-repos .repoTime {
  display: none; }
